.section__hero {
  background-image: url('../../public/images/bg/Banner\ inicial\ -\ gestao\ de\ trafego.jpg');
  padding: 140px;
}

.hero__content {
  figure {
    width: 300px;
  }

  p {
    margin-bottom: 30px;
  }
}